<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (ngSubmit)="signup()" #signupForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput #email="ngModel" type="email" name="email" [(ngModel)]="credentials.email" placeholder="E-Mail"
        email required>
      <mat-error *ngIf="email.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput #password="ngModel" type="password" name="password" [(ngModel)]="credentials.password"
        placeholder="Password" required>
      <mat-error *ngIf="password.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="signupForm.invalid && !isLoading">Signup</button>
  </form>
</mat-card>
